{
  "extends": "airbnb",
  "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/prop-types": [0, { "ignore": ["*"] }],
      "import/prefer-default-export": 0,
      "import/no-extraneous-dependencies": 0,
      "prefer-destructuring": 0,
      "indent": ["error", 2],
      "prefer-single": true,
      "react/refer-single": "prefer-single",
      "jsx-quotes": ["error", "prefer-single"],
      "eol-last": ["error", "never"],
      "no-use-before-define": "off",
      "react/destructuring-assignment":0,
      "no-underscore-dangle":"off",
      "react/jsx-one-expression-per-line": 0,
      "import/no-named-as-default": "off",
      "import/no-named-as-default-member": "off"
  },
  "parser": "babel-eslint"
}