<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Apiko Marketplace</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.5</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>apikoflex</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT NAME) uses media library</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Some description</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Some description</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT NAME) uses camera</string>
	<key>NSContactsUsageDescription</key>
	<string>To search within your network, allow access to your Contacts.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>custom message</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT NAME) uses location</string>
	<key>NSMainNibFile</key>
	<string>LaunchScreen</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To create audio Introduction, allow access to your Microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>Some description</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT NAME) uses photo library additions</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT NAME) uses photo library</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Some description</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>ApikoFlex.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
